@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
    }
}
@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: self-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 .up{
        min-height: 60vh;
    }
    .b3{
        width: 100%;
        min-height: 60vh;
        background-position: left;
    }
}